.example-spacer {
    flex: 1 1 auto;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    padding: 5rem;
}

mat-toolbar{
    background-color: rgb(69,90,100);
    color: #fff;
}